*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: aqua;
    margin: 0 auto;
}

nav{
    background-color: rgb(209, 123, 255);
    display: flex;
    align-items: center; /*alinhamento vertical*/
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 20px;
    margin: 10px 5%;
}

.logo{
background-color: beige;
padding: 5px;
}

.nav-links a{
text-decoration: none;
}

.logo a{
margin: 0px;
text-decoration:none
}

.nav-links{
display: flex;
justify-content: end;
gap: 5%;
}

.destaque{
    background-color: #4343f9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5px 5%;
    min-height: 500px;
}

.txt-header{
    background-color: chartreuse;
    flex: 1 1 0;
    min-width: 160px;
    max-width: 525px;
    text-align: justify;
}

.img-header{
    background-color: chartreuse;
    min-height: 300px;
    flex: 1px 1px 300px;
}

.objetos{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main{
    display: flex;
    flex-direction: column;
    background-color: chocolate;
    margin: 0px;
    padding: 5px 5%;
}

main section {
    display: flex;
    flex-direction: column;
    background-color: bisque;
}

main article {
    background-color: aquamarine;
    margin: 10px 0;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: darkorchid;
    padding: 5px 5%;
}

footer section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: darkseagreen;
}