*{
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*--HEADER--*/

/*-Default-*/

header{
    display: flex;
    flex-direction: column;
    background-color: #0C0020;
    margin: 0;
    padding: 5px 5%;
}


/*barra de navegação*/
nav{
    display: flex;
    align-items: center; /*alinhamento vertical*/
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 2% ;
}

/*div com a logo do site (link para a LP na barra de navegação*/
.logo{
    display: flex;
    padding: 8px 0 0 0;
    margin-left: 1%;
    border-bottom: 1px solid #7fff00;
}

.logo img{
    height: 55px;
}

.logo:hover {
    transition: 0.5s;
    transform: scale(1.03);
}

/*div com os links da barra de navegação*/
.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 3%;
    flex: 1;
}

.nav-links a{
    text-decoration: none;
    padding: 5px 1%;
    border-radius: 100px;
    color: #F1F9DD;
}

.nav-links a:hover {
    background-color: #7fff00;
    color: #0C0020;
    transition: 0.5s;
    transform: scale(1.01);
}

/*-Landing Page-*/

/*section com os elementos do header que ficam fora da barra nav (Landing Page)*/
.headerLP-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0px;
}

/*div que contém o heading*/
.txt-header{
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    min-width: 160px;
    max-width: 525px;
    text-align: justify;
    justify-content: space-evenly;
    padding: 0 3%;
}

.txt-header h1{
    color: #F1F9DD;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

.txt-header p{
    color: #F1F9DD;
    font-size: 20px;
    font-weight: 100;
}

.CTA{
    text-decoration: none;
    font-size: 30px;
    padding: 15px 5%;
    background-color: #7fff00;
    border-radius: 25px;
    color: #000000;
    text-align: center;
    margin: 3% 20%;
    min-width: 235px;
    
}

.CTA:hover {
    transition: 0.5s;
    transform: scale(1.05);
    background-color: #c3ff87;
}

/*div que contém a imagem do header*/
.img-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    max-width: 50%;
    min-width: 310px;
    flex: 1px 1px 300px;
}

.img-header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*-Explorar-*/

/*section com os elementos do header que ficam fora da barra nav (página explorar)*/
.headerEXP-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px 5%;
}

/*div que contém a barra de pesquisa (tag input)*/
.pesquisa{
padding: 7px 0px;
width: 50%;
}

.pesquisa input{
background-color: #F1F9DD;
color: #0C0020;
padding: 0% 1%;
height: 35px;
width: 100%;
border-radius: 15px;
border: 2px solid #72b900;
}

/*--MAIN--*/

/*-Default-*/

main{
    display: flex;
    flex-direction: column;
    background-color: #F1F9DD;
    margin: 0px;
    padding: 46px 13%;
}

main article {
    margin: 10px 0;
}

/*-Landing Page-*/

.mainLP-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mainLP-article {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.mainLP-article h2{
    font-size: 40px;
}

.mainLP-article h3{
    font-size: 30px;
    color: #0C0020;
}
.mainLP-article p{
    font-size: 20px;
}

.cards-container {
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0;
}

.cardsv{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8FC700;
    width: 20%;
    height: 220px;
    padding: 2%;
    border-radius: 40px;
    min-width: 282px;
}

.cardsv h1{
    color: #0C0020;
    background-color: #F1F9DD;
    padding: 2% 7%;
    border-radius: 20px;
}

.cardsv h2{
    color: #0C0020;
    padding: 2% 7%;
}

.cardsv p{
    background-color: #72b900;
    color: #0C0020;
    padding: 10% 7%;
    border-radius: 25px;
    max-height: 312px;
}

.cardsv:hover{
    transition: 0.5s;
    transform: scale(1.05);
}

.cardsr{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0C0020;
    width: 20%;
    height: 220px;
    padding: 2%;
    border-radius: 40px;
    min-width: 282px;
}

.cardsr h1{
    color: #F1F9DD;
    background-color: #3e3e64;
    padding: 2% 7%;
    border-radius: 20px;
}

.cardsr h2{
    color: #F1F9DD;
    padding: 2% 7%;
}

.cardsr p{
    background-color: #060011;
    color: #F1F9DD;
    padding: 10% 7%;
    border-radius: 25px;
    max-height: 312px;
}

.cardsr:hover{
    transition: 0.5s;
    transform: scale(1.05);
}

/*-Explorar-*/

.mainEXP-section {
    background-color: bisque;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
}

.produto {
    max-width: 50%;
    padding: 10px;
}

/*--FOOTER--*/

/*-Default-*/

footer{
    display: flex;
    flex-direction: column;
    background-color: #060011;
    padding: 5px 5%;
}

footer section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #F1F9DD;
}
